@charset "UTF-8";

* {
    /*Tirar todos os espaços para iniciar e organizar como quiser depois*/
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    /*Usar a totalidade da tela visível*/
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    /*posicionamento da imagem de fundo*/
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    /*Colocar posicionamento relativo aqui para usar o absoluto na section e centralizá-la*/
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Lembrando: estas 4 configurações acima são para colocar essa section no meio, independente do tamanho do navegador*/

    height: 627px;
    width: 311px; 
    /*essas medidas podem ser encontradas usando o Gimp, em Propriedades de imagem, observando a medida dela (para deixar essa section do tamanho certo da imagem do telefone*/
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    /*configurar o iframe dentro do celular*/
    position: relative;
    /*medidas para colocar a "imagem home/iframe" exatamente ao canto esquerdo superior da "imagem celular"*/
    top: 80px;
    left: 22px;
    /*tamanho do iframe*/
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    /*colocar as imagens link das redes sociais na direita*/
    text-align: right;
}

section#redes-sociais img {
    /*configurar as imagens dos links para as redes sociais*/
    width: 50px;
    margin: 10px;
    border-radius: 50%; /*para deixar as imagens redondas*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    box-sizing: border-box; /*p/ quando passar o mouse, a borda branca não empurrar os outros botões (a borda vai ficar fazendo parte da caixa*/
}

section#redes-sociais img:hover {
    /*estilo quando passar o mouse*/
    border: 2px solid rgba(255, 255, 255, 0.432);
    transform: translate(-3px, -3px); /*p/ o botão dar uma leve afastada quando passar o mouse*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
    transition: transform .3s, border 1s;/*p/ o transform e borda não ser tão rápido*/

}